@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@500&family=Oswald:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --line-color: #e5e7eb;
}

.font-for-developer {
  font-family: 'Handjet', cursive !important;
  /* font-family: 'Oswald', sans-serif; */
}

html.dark {
  --line-color: rgba(255, 255, 255, 0.2);
}

.borderBlack {
  @apply border border-black/10;
}

.transition-opacity {
  transition: opacity 0.5s ease-in-out; /* Adjust the timing function and duration as needed */
}
